<section id="workex" className="flex flex-col pt-10">
    <div className="container mx-auto grid grid-cols-1 max-w-3xl px-3">
        <div> 
            <h2 className="text-2xl md:text-3xl text-left">
                Experience
            </h2>
        </div>

        <span class="w-full h-0.5 mb-5 md:mb-5 bg-gray-200"></span>

        <div className="rounded-lg pt-1 pb-1 mb-3">
            <div className="flex px-1 mb-1 md:mb-1 justify-between items-center">
                <h2 className="text-xl font-medium">
                    Tangible Play
                </h2>
                <h2 className="text-sm text-gray-500">
                    Palo Alto, CA
                </h2>
            </div>
            <div className="flex px-1 mb-1 md:mb-3 justify-between items-center">
                <h2 className="text-base">
                    CVML Research Engineer II
                </h2>
                <h2 className="text-sm text-gray-500">
                    July 2019 - Present
                </h2>
            </div>
            <div>
                <ul className="list-disc pl-6 pr-1">
                    <li className="text-sm text-justify">
                        Building interactive educational games using computer vision
                        and machine learning for kids. Some of the math games that I worked
                        on can be found <a href="https://www.amazon.com/Osmo-Measurement-Estimating-Curriculum-Inspired-Required/dp/B08H8GS32R/ref=pd_bxgy_sccl_2/132-0380844-1174013?pd_rd_w=3kX2Y&content-id=amzn1.sym.7757a8b5-874e-4a67-9d85-54ed32f01737&pf_rd_p=7757a8b5-874e-4a67-9d85-54ed32f01737&pf_rd_r=FY34AEFZTTQES6DSYR70&pd_rd_wg=0nYYc&pd_rd_r=d113f67c-09b6-44e0-ad9b-2d65e2c970d5&pd_rd_i=B08H8GS32R&th=1" className="text-blue-600 hover:text-blue-800">here </a>
                        on Amazon. 
                    </li>
                    <li className="text-sm text-justify">
                        Our work on <a href="https://mathai4ed.github.io/papers/papers/paper_11.pdf" className="text-blue-600 hover:text-blue-800">
                        "Gamifying Math Education using Object Detection"
                        </a> was presented at the NeurIPS 2021 workshop on Math AI for Education (MATHAI4ED)
                    </li>
                    <li className="text-sm text-justify">
                        Led the development efforts for our core C++ vision library and
                        prototyped new camera hardware devices.
                    </li>
                </ul>
            </div>
        </div>

        <div className="rounded-lg pt-2 pb-1 mb-3">
            <div className="flex px-1 mb-1 md:mb-1 justify-between items-center">
                <h2 className="text-xl font-medium">
                    Magic Leap
                </h2>
                <h2 className="text-sm text-gray-500">
                    Plantation, FL
                </h2>
            </div>
            <div className="flex px-1 mb-1 md:mb-3 justify-between items-center">
                <h2 className="text-base">
                    Machine Vision Automation Intern
                </h2>
                <h2 className="text-sm text-gray-500">
                    May 2018 - August 2018
                </h2>
            </div>
            <div>
                <ul className="list-disc pl-6 pr-1">
                    <li className="text-sm text-justify">
                        Researched and developed a deep learning based image recognition 
                        and image comparison framework using tensorflow and python. Improved 
                        accuracy for scene and image classification tests. 
                    </li>
                    <li className="text-sm text-justify">
                        Implemented end-to-end transfer learning on the VGG-19 network by 
                        creating a new dataset for image classification and compared different 
                        feature detection and triplet based learning algorithms for image similarity.
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</section>